/* You can add global styles to this file, and also import other style files */

* {
    margin: auto;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    width: 85%;
}

button {
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 2em;
}

button:hover {
    background-color: aliceblue;
}